@using ERP_System_Menagment_Core.ModelView.ProductVievModel
@model IEnumerable<ProductViewModel>


<style>

    body {
        background: rgb(66,177,227);
        background: linear-gradient(360deg, rgba(66,177,227,0.8346988453584558) 29%, rgba(13,98,171,0.207247864966299) 92%);
    }

    table {
        position: relative;
        left: 180px;
    }

    tr, td {
        border: 2px solid gray;
        padding: 20px 50px;
    }

        tr:nth-child(even) {
            background-color: lightgray;
            color: black;
        }

    .prod:hover {
        background-color: blue;
        color: white;
    }

    thead tr {
        background-color: lightgray;
        color: black;
    }


    #create {
        position: absolute;
        left: 50px;
        padding: 10px;
        
    }

    .btn{
        border: 1px solid gray;
        border-radius: 6px;
        background-color: lawngreen;
        color: ghostwhite;
    }

</style>

<a id="create"class="btn" type="submit" asp-area="" asp-controller="Product" asp-action="CreateProducts">+ Add Product</a>



<table>

    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Quantity</td>
            <td>SalePrice</td>
            <td>GoodPrice</td>
            <td>Options</td>
        </tr>
    </thead>
    <tbody>

      
        @foreach (var item in Model)
        {

            <tr class="prod">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.SalePrice</td>
                <td>@item.GoodPrice</td>
                <td>
                    <a class="btn btn-dark" asp-route-id="@item.Id" asp-area="" asp-controller="Product" asp-action="EditProducts">Edit</a>
                    <a class="btn btn-danger" asp-route-id="@item.Id" asp-area="" asp-controller="Product" asp-action="DeleteProducts">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>